.errMsg{
    /* background: rgb(214, 10, 10);
    color: #fff9;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 1.3px; */
    position: absolute;
    top: 5em;
    right: 0;
}

.successMsg{
    /* background: rgb(9, 158, 54); */
    /* color: green;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 1.3px; */
    position: absolute;
    /* top: 4em; */
}